*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

body{
    background: linear-gradient(#5584AC, #95D1CC, #F6F2D4 );
    min-height: 100vh;
}

a{
    color: inherit;
}

/***************HEADER***************/

.header__weather_logo{
    background-color: #1D2D50;
}

.header__inner{
   min-width: 100%;
    height: 80px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.header__title{
    font-size: 30px;
}

.header__title_form{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.header__form{
    width: 30%;
    height: 300px;
    margin: 200px auto;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 40px;
    position: relative;
}

.header__form_another{
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    padding-top: 4px;
    
}

.picture__img{
    width: 200px;
    height: 170px;
}

.header__input{
    width: 300px;
    height: 40px;
    padding: 0 20px;
    background-color: #485d96;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.header__input::placeholder{
    color: #fff;
    font-size: 16px;
}

.header__btn{
    width: 80px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #485d96;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

/***************NAV***************/

.nav{
    background-color: #22577E;
    &__inner{
        height: 40px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        color: #fff;   
    }
    &__menu{
        list-style: none;
    }
    &__item {
        display: inline;
        margin: 0 40px;
        font-size: 18px;
        cursor: pointer;
    }
    &__item :hover{
        border-bottom: solid 3px #485d96;
    }
}

.a__item{
    padding: 0 10px;
}

/***************MAIN***************/

.main{
    min-height: 100vh;
    margin: 12px 0 12px;
    position: relative;
}

.main__aside{
    width: 320px;
    height: 415px;
    float: right;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 12px;
    padding: 20px;
}

.aside__cards_name{
    padding-bottom: 10px;
}

.aside__info{
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 10px;
}

.air__level_img{
    width: 55px;
    height: 55px;
    margin-bottom: -7px;
    margin-right: 5px;
}

.aside__grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.aside__grid_info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;
}

.aside__grid_border{
    border-bottom: 1px solid;
}

.main__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
}

.main__cards{
    background-color: #fff;
    width: 100%;
    height: 260px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #485d96;
    padding: 25px;
    position: relative;
}

.first__cards{
    background: linear-gradient(#1D2D50,#133B5C, #1E5F74);
}

.color__cards{
    color: #fff;
}

.cards__name{
    font-size: 22px;
    font-weight: 500;
}

.cards__temp{
    font-size: 80px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

 .cards__img{
    width: 106px;
} 

.cards__condition{
    font-size: 25px;
    font-weight: 500;
}

.cards__time{
    font-size: 20px;
    font-weight: 500;
}

.second__cards_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 5px;
}

.second__grid{
    color: #6f7585;
}

.second__grid_border{
    border-right: solid 1px;
    border-image: linear-gradient(
            to top,
            #6f7585,
            rgba(0, 0, 0, 0)
    ) 1 100%;
}

.second__grid_title{
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}

.second__grid_temp{
    font-size: 40px;
    font-weight: 400;
    padding: 3px 0;
}

.second__cards_img{
    width: 55px;
    height: 55px;
}

.second__grid_btn{
    width: 100px;
    height: 33px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    background-color: #1b4de4;
    cursor: pointer;
}

.cards__feels{
    font-size: 40px;
}

.cards__feels_text{
    font-size: 18px;
}

.third__card_grid{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.third__grid{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-top: 10px;
}

.third__grid_img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.third__grid_info{
    display: flex;
    font-size: 18px;
    padding: 5px 0;
}

.third__grid__info_moonphase{
    text-align: right;
}

.fourth__card_grid{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.fourth__card_img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

/***************HOURLY***************/

.forecast__card{
    background-color: #fff;
    border-radius: 10px;
    margin: 12px auto;
    padding: 25px;
    width: 80%;
    justify-content: space-between;
}

.forecast__grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid;
    align-items: center;
    text-align: center;
}

.forecast__info{
    font-size: 16px;
}

.forecast__temp{
    font-size: 18px;
    font-weight: 700;
}

.forecast__img{
    width: 50px;
    height: 50px;
}

/***************ABOUT***************/

.about{
    display: flex;
}

.about__weather{
    text-align: center;
    margin-top: 100px;
}

.about__title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}

.about__title_span{
    font-style: italic;
    font-weight: 400;
}

.about__ul{
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    margin-top: 37px;
    list-style: none;
}

.pin__img{
    width: 3%;
   
}

/***************ADAPTIVE***************/

@media (max-width: 991px){
    .container{
        max-width: 961px;
    }
    .header__form {
        width: 41%;
    }
    .main__cards {
        padding: 15px;
    }
}

@media (max-width: 767px){
    body {
        background: #95D1CC;
    }
    .container{
        max-width: 737px;
    }
    .header__input {
        width: 223px;
    }
    .header__btn {
        width: 68px;
    }
    .header__title_form {
        font-size: 20px;
    }
    .third__grid {
        margin-top: 5px;
    }
    .main__aside {
        bottom: -427px;
        position: absolute;
        margin-left: 0;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 450px;
    }
    .header__title {
        font-size: 21px;
    }
    .header__form {
        min-width: 103%;
    }

    .header__form_another{
        min-width: 100%;
        right: -56px;
    }
    .header__input {
        width: 160px;
        padding: 0 5px;
    }
    .header__btn {
        padding: 0 5px;
    }
    .picture__img {
        width: 161px;
        height: 150px;
    }
    .header__title_form {
        line-height: 30px;
    }

    .nav__item {
        margin: 0 13px;
        font-size: 16px;
    }
    .main__grid{
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    .cards__temp {
        font-size: 72px;
    }
    .second__grid_title {
        font-size: 18px;
    }
    .second__grid_temp {
        font-size: 27px;
    }
    .cards__feels {
        font-size: 33px;
    }
    .fourth__cards{
        height: 420px;
    }
    .fourth__card_grid{
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    .forecast__card {
        padding: 10px;
        width: 88%;
    }
}

@media (max-width: 320px){
    .container{
        max-width: 291px;
    }
    .picture__img {
        width: 131px;
        height: 134px;
    }
    .header__form {
        min-width: 80%;
    }
    .header__inner {
        height: 120px;
        padding: 15px 0;
    }
    .header__input {
        height: 35px;
    }
    .header__btn {
        height: 35px;
    }
    .header__title {
        position: absolute;
        top: 21px;
        left: 109px;
    }
    .header__title_form {
        line-height: 26px;
        font-size: 17px;
    }
    .header__form_another {
        height: 3px;
        right: 8px
    }
    .nav__inner {
        height: 59px;
        padding: 14px 0;
    }
    .nav__item {
        margin: 0 34px;
    }
    .cards__temp {
        font-size: 47px;
    }
    .cards__name {
        font-size: 19px;
    }
    .second__cards{
        height: 353px;
    }
    .second__cards_grid{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .second__grid_border {
        border-right: none;
    }
    .third__card_grid{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .third__cards{
        height: 332px;
    }
    .fourth__cards{
        height: 445px;
    }
    .main__aside {
        width: 269px;
        padding: 14px;
    }
    .aside__info {
        font-size: 35px;
    }
    .aside__grid_info {
        font-size: 15px;
    }
    .forecast__card {
        padding: 5px;
        width: 98%;
    }
    .about__title {
        font-size: 20px;
    }
    .about__ul {
        font-size: 16px;
    }
}




















